*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.page {
  position: relative;
  min-height: 100vh;
  background: #f5f5f5;
  overflow: hidden;

}

.page::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background: #1a5855; 
  border-bottom-left-radius: 50%;
border-radius: 0% 70% 40% 100% / 0% 0% 100% 100% ;
  z-index: 1;

} 
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 40px;
}



.Card{
    background-color: #F5F5F5;
    width: 500px;
    height: 300px;
    padding: 30px;
    border-radius: 12px;
     box-shadow: 0 0 20px rgba(0,0,0,0.2);
 z-index: 2; 
 justify-content: space-between; 

margin-top: -110PX;
}
.Card h2{
    color: #1d7874;
    margin-bottom: 20px;
    text-align:center;
    font-size: 30px;
    margin-bottom: 20px;

}

.Card label{
     color: #1d7874;
     display: block;
     margin-top: 8px;
     margin-bottom: 10px;
     text-indent: 1%;


}
.icon--lifted{
position: relative; 
top: -60px;
color: #2f8f83;
font-size: 20px;
right: 15px;
}

.input-box {
    
    border-radius: 6px;
    border: 1px solid ;
    display: block;
    height: 40px;
     box-sizing: border-box;
     z-index: 3;
     position: relative;
}
.input-box i{
    position: absolute;
    right: 15px;
    top: 20%;
   color: #1a5855;
    font-size: 20px;
}
.input-box input{
    width: 100%;
   /*padding: 12px 40px 12px 12px; */
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    text-indent: 9px;
}
.checkbox{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
     color: #2f8f83; 

}
.btn{
    text-align: center;
    border-radius: 6px;
    padding: 1%;
    color: #f2f8f7;
   height:40px;
   width: 100%;
   cursor:pointer;
   font-size: 16px;
   display: block;
   margin: auto;
   background-color:#1a5855;
   font-size: 20px;
   font-family: -webkit-body;
   margin-top: 30px;
}
.checkbox{
  display: flex;
  align-items: center;
   justify-content: space-between;
   margin:10px 0;
    flex-direction: row;
}
.checkbox label{
  display: flex;
  align-items: center;
  gap: 1p;
  white-space: nowrap;
}

